os: linux
dist: xenial

language: python
cache: pip
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

services:
  - memcached
  - redis
  - mysql
  - postgresql

env:
  - DJANGO="2.2"
  - DJANGO="3.0"
  - DJANGO="3.1"
  - DJANGO="3.2"

matrix:
  exclude:
    - python: 3.8
      env: DJANGO=2.0
    - python: 3.8
      env: DJANGO=2.1
    - python: 3.9
      env: DJANGO=2.0
    - python: 3.9
      env: DJANGO=2.1

install: pip install tox tox-travis coveralls

before_script:
  - psql -c 'CREATE USER cachalot SUPERUSER;' -U postgres
  - psql -c 'CREATE DATABASE cachalot OWNER cachalot;' -U postgres
  - mysql -u root -e 'CREATE DATABASE cachalot;'

script: tox

after_success: coveralls
